$background-color: #202124;
$search-bar-color: #4d5156;
$search-bar-color-focus: #303134;
$button-color: #303134;
$font-color: white;


:root {
    font-family: Google Sans, arial, sans-serif;
    background-color: $background-color;
}



.nav_bar {
    font-family:arial, sans-serif;
    background-color: $background-color;
    color: $font-color;
    padding: 20px;

    img {
        height: 2rem;
        width: auto;
    }


    a {
        margin-left: 20px; 
        color: inherit;
        text-decoration: none;
    }
    a:hover {
    color: inherit;
    text-decoration: underline;
    }   

}

.logo {
    text-align: center;
    background-color: $background-color;
    padding-top: max(15vh, 0px);
    img{
    max-width: 20rem;
    height: auto;
    background-color: $background-color;
    }
}

.center_box{
    background-color: $background-color;
    padding: 20px;
}

#search_bar{
    display: block;
    color: $font-color;
    background-color: $search-bar-color;
    border: 0px;
    border-radius: 26px;
    min-width: 95%;
    height: 3rem;
    padding: 0px 25px;
    margin: 0px auto;
}

#search_bar:focus{
    outline:none;
    background-color: $search-bar-color-focus;
}

.button_list{
    text-align: center;
}

.button{
    font-family: Google Sans, arial, sans-serif;
    font-weight:500;
    border:0px;
    border-radius: 8px;
    padding: 8px 20px;
    color: $font-color;
    background-color: $button-color;
    margin: 20px 5px;
}


