$background-color: #202124;
$search-bar-color: #4d5156;
$search-bar-color-focus: #303134;
$button-color: #303134;
$font-color: white;

:root {
    font-family: Google Sans, arial, sans-serif;
    background-color: $background-color;
}


.nav_bar {
    font-family:arial, sans-serif;
    background-color: $background-color;
    color: $font-color;
    padding: 20px;
    img {
        height: 2rem;
        width: auto;
    }
    // 目前僅有logo，故暫時註解。若未來有多個文字標籤，可取消註解。
    // a {
    //     margin-left: 20px; 
    //     color: inherit;
    //     text-decoration: none;
    // }
    // a:hover {
    // color: inherit;
    // text-decoration: underline;
    // }   
}

main{
    padding: 0px 20px;
    background-color: $background-color;
}

// TODO: Complete CSS

.title{
    display: block;
    color: #f28b82;
    background-color: $background-color;
    font-size: 1.4rem;
    border-bottom: 1px lightgray solid;
    padding: 25px 35px;

}

.subtitle{
    background-color: $background-color;
    color: $font-color;
    padding: 25px 35px;
}

.a_kind{
    padding: 5px 35px;

    .fine{
        color: gray;
        width: 12rem;
        
    }

    .box{
        background-color: $background-color;
        border: solid 1px gray;
        width: 50vw;
        color: $font-color;
    }
}

.button_parent{
    text-align: right;
    margin: 10px 0px;
}


.button{
    font-weight: 500;
    background-color: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    border: none;
    border-radius: 3px;
    
    padding: 3px 10px;
}